<template>
 
    <div class="container">
      <img src="./assets/logo.png">
      <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="#" @click="currentView='manage-posts'">Manage Posts</a>
          </li>
          <li role="presentation">
            <a href="#" @click="currentView='create-post'">Create Post</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Admin Panel</h3>
    </div>
     <!-- <component is="manage-posts"></component> -->
   <component :is="currentView" transition="fade" transition-mode="out-in"></component>


   </div>
  
</template>

<script>

import ManagePosts from './components/ManagePosts.vue'
import CreatePost from './components/CreatePost.vue'

export default {
  
  components: {
    'manage-posts': ManagePosts,
    'create-post': CreatePost
  },
 data: function () {
    return {
      currentView: 'manage-posts' 
  }
}
 
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}
.fade-transition {
  transition: opacity 0.2s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}
</style>
